{% extends 'base.html' %}


{% block content %}
<div class="jumbotron">
    <center>
        <h1>Advinx Url Shortener</h1>
        <a href="/create/"><button type="button" class="btn btn-secondary">Create New URL</button></a>
    </center>
</div>

<div class="jumbotron">
    <center>
        <h3>Know More About the Creator</h3>
        <a href="https://www.linkedin.com/in/mark-advincula-750476212/"><button type="button"
                class="btn btn-primary">Here</button></a>
    </center>
</div>
{% endblock content %}